<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Chapter 1 Dialogue I</string>
		<key>File</key>
		<string>Greetings.html</string>
		<key>Title</key>
		<string>Learn basic greetings</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Chapter 1 Dialogue II</string>
		<key>File</key>
		<string>Chapter1LessonII.html</string>
		<key>Title</key>
		<string>Learn basic greetings</string>
	</dict>
</array>
</plist>
